
@{
    ViewData["Title"] = "ApiStores";
}

<h2>ApiStores</h2>

<button type="button" onclick="getStores()">Get Stores</button>

<input type="text" id="id"/>

<br>

<table id="table">
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</table>