
@{
    ViewData["Title"] = "ApiCreditCards";
}

<h2>ApiCreditCards</h2>

<button type="button" onclick="getCreditCards()">Get CreditCards</button>
<input type="text" id="id" />
<br>
<table id="table">
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</table>